.cart-container {
  display: flex;
  gap: 30px;
  padding: 20px;
}

/* LEFT SIDE */
.cart-items {
  flex: 3
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-h2{
  
  text-align: center;
  margin-top: 100px;
}

.cart-item {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.qty {
  display: flex;
  gap: 10px;
  align-items: center;
}

.qty button {
  padding: 5px 10px;
  cursor: pointer;
}

/* REMOVE BUTTON */
.remove {
  background: red;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
}

/* RIGHT SIDE */
.summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
}

.checkout {
  width: 100%;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}