.details-card {
  display: flex;
  gap: 50px;
  padding: 30px;
  background: white;
}
.left {
  flex: 1;
  text-align: center;
}

.main-image {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.thumbnail-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.thumb {
  width: 60px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px;
}
.right {
  flex: 2;
}

.right h2 {
  margin-bottom: 10px;
}
.rating {
  color: #facc15;
  margin-bottom: 10px;
}
.price {
  color: green;
  font-size: 22px;
  font-weight: bold;
}

.discount {
  color: red;
}
.stock {
  margin: 10px 0;
  font-weight: bold;
}
.desc {
  margin-top: 15px;
  line-height: 1.5;
  color: #555;
}
.btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn button {
  padding: 12px 20px;
  border: none;
  background: #ff9f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn .buy {
  background: #fb641b;
}
