.product-page {
  background: #f5f5f5;
}

/* 🔥 MAIN LAYOUT */
.details-card {
  display: flex;
  gap: 50px;
  padding: 30px;
  background: white;

  align-items: flex-start; /* IMPORTANT */
}

/* LEFT SIDE */
.left {
  flex: 1;
  text-align: center;

  position: sticky;
  top: 100px;

  height: fit-content;
}

.main-image {
  width: 350px;
  object-fit: contain;
}

/* THUMBNAILS */
.thumbnail-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.thumb {
  width: 60px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 5px;
}

/* RIGHT SIDE */
.right {
  flex: 2;
  text-align: left;
}

/* TEXT STYLING */
.rating {
  color: #facc15;
  margin: 10px 0;
}

.price {
  color: green;
  font-size: 22px;
  font-weight: bold;
}

.discount {
  color: red;
}

.stock {
  margin: 10px 0;
  font-weight: bold;
  color: #2563eb;
}

.desc {
  margin-top: 15px;
  line-height: 1.5;
  color: #555;
}

/* BUTTONS */
.btn {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn button {
  padding: 12px 20px;
  border: none;
  background: #ff9f00;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn .buy {
  background: #fb641b;
}

/* 🔥 REVIEWS */
.reviews-section {
  margin-top: 20px;
  padding: 20px;
  background: white;
}

.review-card {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
