.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 30px;
  background-color: rgb(18, 18, 18);
  color: white;
  position: sticky;
  top: 0;
}


.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* INPUT FIELD */
.search-box input {
  width: 30%;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  transition: 0.3s ease;
}

/* FOCUS EFFECT */
.search-box input:focus {
  border-color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


.cart-badge {
  background-color: red;
  font-size: 15px;
  border-radius: 10px;
  padding: 2px 6px;
}

.nav-logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.nav-logo a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav-links a:hover {
  color: orange;
}
