.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 30px;

  background: #0f172a; /* dark modern */
  color: white;

  box-shadow: 0 4px 20px rgba(0,0,0,0.3);

  position: sticky;
  top: 0;
  z-index: 100;
  background:linear-gradient(to right, #0f172a, #1e3a8a);
}

/*  */

.nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;;
  text-decoration: none;
}

.nav-logo span {
  color: #38bdf8; /* highlight */
}

.navbar input {
  width: 30%;
  padding: 10px 15px;

  border-radius: 25px;
  border: none;
  outline: none;

  background: #1e293b;
  color: white;

  transition: 0.3s;
}

.navbar input::placeholder {
  color: #94a3b8;
  text-align: center;
}

.navbar input:focus {
  background: #334155;
  box-shadow: 0 0 10px rgba(56,189,248,0.5);
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 25px;

}
.nav-links a{
  text-decoration: none;
  color: #ffffff;
}

.nav-links span {
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links span:hover {
  color:  #38bdf8;;
}

.cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.cart:hover {
  transform: scale(1.1);
}

.cart span {
  position: absolute;
  top: -8px;
  right: -12px;

  background: #ef4444;
  color: white;

  font-size: 11px;
  padding: 3px 7px;

  border-radius: 40%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}