.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #2874f0;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  /* justify-content: space-evenly; */
  /* display: flex;
  flex-wrap: wrap; */
  gap: 50px;
  padding: 20px 20px;
  width: 100%;
}
.center {
  width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.card {
  padding: 15px 0;
  border-radius: 10px;
  /* text-align: center; */
  width: 100%;
  /* max-width: 400px; */
  background: white;
}

.card img {
  display: flex;
  width: 250px;
  align-items: center;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.card p {
  font-weight: bold;
}
.card-link {
  text-decoration: none;
  color: black;
}
.product-details {
  display: flex;
  align-items: center;
  align-items: center;
  border: 1px solid black;
  padding: 20px 20px;
  gap: 20px;

  margin-top: 100px;
}

.product-details img {
  width: 250px;
}
.middle {
  display: flex;
  width: 350px;
  gap: 20px;
}

.info {
  display: flex;
  text-align: left;
  min-width: 250px;
  gap: 20px;
}
